BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
MONGO_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
LOG_CHANNEL_ID=-1001234567890
PREMIUM_CHANNEL_ID=premium_channel_username
ADMIN_USER_IDS=123456789
